# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/shoeshop?retryWrites=true&w=majority

# JWT
JWT_SECRET=your_jwt_secret_here

# Cloudinary (backend - keep secret)
CLOUDINARY_CLOUD_NAME=dg1t4kzmx
CLOUDINARY_API_KEY=423222984619446
CLOUDINARY_API_SECRET=722bKpC4hj6fFo850DE5jyrHESs
CLOUDINARY_UPLOAD_PRESET=shoe_shop_uploads

# Server
PORT=5000
